@mixin flex ($direction) {
    display: flex;
    flex-direction: $direction;
}
@mixin btn () {
    background: none;
    outline: none;
    border: none;
    background-color: #000;
    line-height: 32px;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    display: inline-block;
}
@mixin verflowText () {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}